* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    background-color: #aaa7a7;
}

h1{
    flex-direction: column;
    align-items: center;
    padding-left: 10vh;
    font-size: 40px;
    color:rgb(10, 10, 9);

}